* {
  margin: 0;
  padding: 0;
}

#background {
  position: fixed;
  animation-name: bg;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: -1;
}
#bg1 {
  width: 0%;
  position: fixed;
  z-index: -1;
  animation-name: bg1;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes bg1 {
  0% {
      top: 100%;
      left: 28%;
      opacity: 0;
      width: 45%;
  }
  100% {
      left: 28%;
      top: 19%;
      opacity: 0.9;
      width: 45%;
  }
}

@keyframes bg {
  0% {
      height: 26%;
      top: 36%;
      left: 40%;
  }
  100% {
      top: -5%;
      left: -2%;
      height: 130%;
  }
}

#heading {
  color: white;
  position: fixed;
  top: 24%;
  left: 33%;
  font-size: 3vw;
}

#sign{
  color: white;
  position: fixed;
  top: 66%;
  left: 44%;  
}

#sign > span{
  color: white;
  text-decoration: none;
}

.login {
  position: fixed;
  width: 16%;
  top: 100%;
  left: 40%;
  animation-name: login;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.loghead{
  color:white;
}

@keyframes login {
  100%
  {
      top: 40%;
      left: 40%;
      display: block;
  }
}

#user, #pass , #fname , #email{
  width: 135%;
  font-size: 1.1vw;
  margin-bottom: 3%;
  padding: 2%;
}

.signup{
  position: fixed;
  margin-top: -1%;
  width: 16%;
  top: 100%;
  left: 40%;
  animation-name: signup;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

  #signbtn {
    color: white;
    position: fixed;
    top: 73%;
    left: 44%;
  }
  
@keyframes signup {
  100%
  {
    top: 35%;
    left: 40%;
    display: block;
  }
}
.st1 {
  margin-top: 1%;
  margin-right: 2%;
  float: left;
  width: 16%;
  background: #9dc2b978;
  height: 25vw;
}

.itemBlock {
  margin-top: 1%;
  border: 1px solid black;
  float: right;
  width: 82%;
  text-decoration: none;
  color: black;
}

.itemImageLogo {
  margin: 1%;
  float: left;
  width: 19.5%;
  height: 13vw;
}

.itemImageLogo img {
  width: 100%;
  height: 100%;
}

.itemDesc {
  margin: 1%;
  width: 65%;
  height: 13vw;
  float: left;
}

.itemButtons {
  float: right;
  width: 9%;
  margin: 1%;
  height: 13vw;
}

.itemButtons button {
  width: 100%;
  margin-top: 32%;
}

.detailsContent {
  margin-top: 1%;
  width: 100%;
}

.detailsContentLeft {
  width: 35%;
  float: left;
  margin-left: 2%;
  margin-right: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.detailsContentLeft img {
  width: 94%;
  height: 28vw;
}

.detailsContentRight {
  width: 50%;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  border: 1px solid black;
  padding: 2%;
  height: 34vw;
}

.detailsContentRight h2 {
  margin-bottom: 4%;
}

.detailsContentRight h4 {
  margin-bottom: 2%;
}

.detailsContentRight #btn1 {
  margin: 2%;
  margin-left: 0%;
}

.detailsContentRight #btn2 {
  margin: 2%;
  margin-left: 4%;
}

.myProfileDetails {
  width: 50%;
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;
}

.headerLinks {
  float: right;
}

.dropdown-menu.show {
  top: 140%;
  left: -280%;
}

.logoHeading {
  margin-left: 10%;
  color: white;
}

.navButton {
  color: white;
    text-decoration: none;
    margin-right: 20%;
    margin-top: 5%;
    font-size: 103%;
}

.leftNavLink {
  text-decoration: none;
  margin-left: 8%;
  font-size: 140%;
  color: #451212;
}

  .table-striped>tbody>tr:nth-child(odd)>td,
  .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ddeff4ee;
    color: black;
  }
  #wrong {
    color: red;
    margin-top: -15%;
    margin-left: 30%;
    display: none;
  }

  #register {
    background: none;
    left: -10%;
  }







  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}